In [1]:
import pandas as pd
import matplotlib.pyplot as plt # import des bibliothèque

In [2]:
#chemin du fichier population qui est dans le meme dossier 
df_pop = "fao_2013/FAOSTAT_2013_population.csv"
#lecture du fichier csv
df_pop = pd.read_csv(df_pop)
df_pop

,Domain Code,Domain,Country Code,Country,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balance Sheets,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,30552,NaN,Official data
1,FBS,Food Balance Sheets,3,Albania,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,3173,NaN,Official data
2,FBS,Food Balance Sheets,4,Algeria,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,39208,NaN,Official data
3,FBS,Food Balance Sheets,7,Angola,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,21472,NaN,Official data
4,FBS,Food Balance Sheets,8,Antigua and Barbuda,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,90,NaN,Official data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,FBS,Food Balance Sheets,237,Viet Nam,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,91680,NaN,Official data
171,FBS,Food Balance Sheets,249,Yemen,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,24407,NaN,Official data
172,FBS,Food Balance Sheets,251,Zambia,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,14539,NaN,Official data
173,FBS,Food Balance Sheets,181,Zimbabwe,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,14150,NaN,Official data
174,FBS,Food Balance Sheets,351,China,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,1416667,A,"Aggregate, may include official, semi-official..."

In [3]:
#isolation de la collone d'intérêt
df_popVal = df_pop[['Value']]
df_popVal

       Value
0      30552
1       3173
2      39208
3      21472
4         90
..       ...
170    91680
171    24407
172    14539
173    14150
174  1416667

[175 rows x 1 columns]

In [4]:
#calcul de la somme des populations des pays du fichier
df_popSum = df_popVal.sum()*1000 # *1000 car unité est par miller d'individus
df_popSum # somme des populations est de 8413993000 ... en 2013 ce qui semble élevé

Value    8413993000
dtype: int64

In [5]:
#drop Chine car plusieurs référence
df_pop.shape

df_pop_update = df_pop.drop(df_pop[(df_pop['Country Code']) & (df_pop['Country'] == 'China')].index, inplace=True)

df_pop.shape

#isolation de la collone d'intérêt
df_popVal2 = df_pop[['Value']]
df_popVal2

     Value
0    30552
1     3173
2    39208
3    21472
4       90
..     ...
169  30405
170  91680
171  24407
172  14539
173  14150

[174 rows x 1 columns]

In [6]:
#calcul de la somme des populations des pays du fichier
df_popSum = df_popVal2.sum()*1000 # *1000 car unité est par miller d'individus
df_popSum

Value    6997326000
dtype: int64