In [26]:
import pandas as pd
import matplotlib.pyplot as plt # import des bibliothèque

In [31]:
#chemin du fichier population qui est dans le meme dossier 
df_pop = "FAOSTAT_2013_population.csv"
#lecture du fichier csv
df_pop = pd.read_csv(df_pop)
df_pop

In [32]:
#isolation de la collone d'intérêt
df_popVal = df_pop[['Value']]
df_popVal

     Value
0    30552
1     3173
2    39208
3    21472
4       90
..     ...
169  30405
170  91680
171  24407
172  14539
173  14150

[174 rows x 1 columns]

In [29]:
#calcul de la somme des populations des pays du fichier
df_popSum = df_popVal.sum()*1000 # *1000 car unité est par miller d'individus
df_popSum # somme des populations est de 8413993000 ... en 2013 ce qui semble élevé

Value    8413993000
dtype: int64

In [33]:
#drop Chine
df_pop.shape

df_pop_update = df_pop.drop(df_pop[(df_pop['Country Code']) & (df_pop['Country'] == 'China')].index, inplace=True)

df_pop.shape

#isolation de la collone d'intérêt
df_popVal2 = df_pop[['Value']]
df_popVal2

     Value
0    30552
1     3173
2    39208
3    21472
4       90
..     ...
169  30405
170  91680
171  24407
172  14539
173  14150

[174 rows x 1 columns]

In [34]:
#calcul de la somme des populations des pays du fichier
df_popSum = df_popVal2.sum()*1000 # *1000 car unité est par miller d'individus
df_popSum

Value    6997326000
dtype: int64